* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', 'Consolas', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a0e17;
  color: #e2e8f0;
}
